<ion-content [fullscreen]="true">
    <div class="header"></div>
    <ion-back-button defaultHref="/" class="backButton"></ion-back-button>

    <section class="welcomeMessage">
        <h1>¡Crea tu cuenta!</h1>
    </section>
    <main>
        <div class="form-wrapper">
            <form [formGroup]="singupForm">

                <div class="input-container">
                    <ion-input formControlName="name" class="firstNameField" type="text" placeholder="Nombre(s)"></ion-input>
                    <div *ngFor="let error of errormessages.name">
                        <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                </div>

                <div class="input-container">
                    <ion-input formControlName="lastname" class="lastNameField" type="text" placeholder="Apellidos"></ion-input>
                    <div *ngFor="let error of errormessages.lastname">
                        <ng-container *ngIf="lastname.hasError(error.type) && (lastname.dirty || lastname.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                </div>

                <div class="input-container">
                    <ion-input formControlName="email" class="emailField" type="email" placeholder="E-mail"></ion-input>
                    <div *ngFor="let error of errormessages.email">
                        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                </div>

                <div class="input-container">
                    <ion-input formControlName="password" class="passwordField" type="password" placeholder="Contraseña"></ion-input>
                    <div *ngFor="let error of errormessages.password">
                        <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                        <ng-container *ngIf="password.value !== confirmPassword.value">
                            <small class="error-message">Las contraseñas no coinciden</small>
                        </ng-container>
                    </div>
                </div>

                <div class="input-container">
                    <ion-input formControlName="confirmPassword" class="confirmPasswordField" type="password" placeholder="Confirmar contraseña"></ion-input>
                    <div *ngFor="let error of errormessages.confirmPassword">
                        <ng-container *ngIf="confirmPassword.hasError(error.type) && (confirmPassword.dirty || confirmPassword.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                        <ng-container *ngIf="confirmPassword.value !== password.value">
                            <small class="error-message"><br>Las contraseñas no coinciden</small>
                        </ng-container>
                    </div>
                </div>

                <ion-button [disabled]="!singupForm.valid" class="singupButton" (click)="singupClicked()" type="submit">Registrarse</ion-button>
            </form>
        </div>
    </main>
</ion-content>