<ion-content [fullscreen]="true">
    <div class="container">
        <div (click)="changeProfileImageClicked()" class="profile-image-container"></div>
        <ion-label class="name-label">Pepito Perez</ion-label>
    </div>
   
    <div class="edit-buttons-section">
        <ion-button class="edit-profile-button">Editar perfil</ion-button>
        <ion-button class="more-options-button">...</ion-button>
    </div>

    <div class="form-container">
        <form>
          <div class="input-container">
              <ion-label>Nombre(s)</ion-label>
              <ion-input type="text" placeholder="Nombre(s)"></ion-input>
          </div>
          <div class="input-container">
            <ion-label>Apellidos</ion-label>
            <ion-input type="text" placeholder="Apellidos"></ion-input>
          </div>
          <div class="input-container">
            <ion-label>Correo electrónico</ion-label>
            <ion-input type="email" placeholder="Correo electrónico"></ion-input>
          </div>


        </form>
    </div>

</ion-content>
