ion-content {
    --baclground: #F0F2F5;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .profile-image-container {
    background-image: url("../../../assets/img/person.jpeg");
    width: 20rem;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 2rem;
    border-radius: 50%;
}

.container .name-label {
    font-size: 32px;
    font-weight: bold;
    text-align: center;

    margin-top: 2rem;
}

.edit-buttons-section {
    margin-top: 2rem;

    width: 100%;
    display: flex;
    justify-content: center;
}

.edit-buttons-section ion-button {
    text-transform: inherit;
    font-weight: bold;

    --box-shadow: none;
    --border-radius: 15px;
}

.edit-buttons-section .edit-profile-button {
    --background: #1877F2;
    width: 30rem;

    margin-right: 1rem;
}

.edit-buttons-section .more-options-button {
    --background: #9E9E9E;
}

.form-container {
    margin-top: 3rem;
    padding-left: 3rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-container .input-container {
    margin-top: 1rem;
}

.form-container ion-input {
    --background: #FAFAFA;
    --placeholder-color: #9E9E9E;

    border: solid 1px #9E9E9E;
    border-radius: 15px;

    --padding-start: 20px;
    --padding-end: 20px;

    width: 35rem;
    height: 5rem;
}

.form-container form .save-profile-button-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.form-container form .save-profile-button-container ion-button {
    --background: #1877F2;
    width: 20rem;

    text-transform: inherit;
    font-weight: bold;

    --box-shadow: none;
    --border-radius: 15px;
}